{% extends 'base.html' %}
{% block title %}
Flood Project = Floods
{% endblock %}
{% block body %}

    <!-- ################# Our Team Starts Here#######################--->
    <section class="our-team" style="padding-top: 110px;">
        <div class="container">
            <div class="inner-title row">
                <h2>Kerala Flood</h2>
                <p>Pictures of flood happened in kerala</p>
            </div>
            <div class="row team-row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="/static/assets/images/team/chalakkudy-floof-011.jpg" alt="" style="width: 250px;height: 200px;">
                        <div class="det-o">
                            <h4>Chalakkudy</h4>
                            <i>Thrissur</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="/static/assets/images/team/27kerala-floods.jpg" alt="" style="width: 250px;height: 200px;">
                        <div class="det-o">
                            <h4>Alappuzha</h4>
                            <i>Alappuzha</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="/static/assets/images/team/dc-Cover-m77ith6dr92um92086j24b7003-20180817044502.Medi.jpeg" alt="" style="width: 250px;height: 200px;">
                        <div class="det-o">
                            <h4>Kochi</h4>
                            <i>Ernamkulam</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="/static/assets/images/team/palakkad-sanghuvarathodu.jpg" alt="" style="width: 250px;height: 200px;">
                        <div class="det-o">
                            <h4>Palakkad</h4>
                            <i>palakkad</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
{% endblock %}