{% extends 'base.html' %}
{% block title %}
Flood Project = Prediction
{% endblock %}
{% block body %}

<!--  ************************* Page Title Starts Here ************************** -->
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Flood Prediction</h2>
                <ul>
                     <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> flood prediction</li>
                </ul>
            </div>
        </div>
    </div>

<!-- ######## Page  Title End ####### -->

{% if current_user %}

<div class="row contact-rooo no-margin">
<div class="container">
<div class="row">
    

 <div style="padding:20px" class="col-sm-6">
 <h2 style="font-size:18px">Present Prediction Form</h2>
 
 <form method="POST">
    {% csrf_token %}
     
    <div style="margin-top:10px;" class="row">
        <div style="padding-top:10px;" class="col-sm-3"><label>Enter RAINFALL in mL(within 24 hrs): </label></div>
        <div class="col-sm-8"><input type="text" name="rainfall" placeholder="Enter RAINFALL in mL(within 24 hrs): " class="form-control input-sm"  ></div>
    </div>
     
      <div style="margin-top:10px;" class="row">
         <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
         <div class="col-sm-8">
          <button class="btn btn-info btn-sm" type="submit">Predict</button>
         </div>
     </div>
    </form>
 </div>
  <div class="col-sm-6">
         
       <div style="margin:50px" class="serv"> 
     
    
  
                   
   
<h2 style="margin-top:10px;">Address</h2>

    {% if messages %}
        {% if result >= 100 %}
            {% for i in messages %}
                <div class="alert alert-danger">{{i}}</div>
            {% endfor %}
            <button class="btn btn-danger btn-lg">Flood Alert</button><br>
            <a href="https://trivandrum.nic.in/en/disaster-management/"><button class="btn btn-warning">Reporting to authority</button></a>
            <a href="{% url 'reliefcamps' %}"><button class="btn btn-warning">Relief Camps</button></a>
        {% else %}
            {% for i in messages %}
                <div class="alert alert-success">{{i}}</div>
            {% endfor %}
        {% endif %}
 {% endif %}



 
     
     
   
</div>    
     
  
</div>

 </div>
</div>

</div>
{% else %}
<div class="row contact-rooo no-margin">
    <div class="container">
    <div class="row">
       
    
     <div style="padding:20px" class="col-sm-6">
        <h2 style="font-size:18px">You dont have permission to do prediction without Login </h2>
        <h2><a href="{% url 'login' %}">Login here</a></h2>
        </div>
        </div>
        </div>
        </div>
    {% endif %}
{% endblock %}