{% extends 'base.html' %}
{% block title %}
Flood Project = prevention
{% endblock %}
{% block body %}

      <!--  ************************* Page Title Starts Here ************************** -->
      <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Flood Prevention</h2>
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> prevention</li>
                </ul>
            </div>
        </div>
    </div>

<!-- ######## Page  Title End ####### -->
    <!-- ################# Services Starts Here#######################--->
     
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <div class="service-box">
                        <div class=" d-flex">
                           <div class="icon">
                                <i class="fas fa-briefcase-medical"></i>
                           </div>
                           <div class="det">
                               <b>BUY FLOOD INSURANCE</b>
                               <p>Buying flood insurance is a good idea even if you live in a low- to moderate-risk area. Flood damage is not typically covered by a homeowner's insurance policies, federal disaster assistance isn't guaranteed, and even low risk areas suffer flooding if melting snow and rain collects rapidly, if there are poor drainage systems or if water mains break. Insurance policies in low risk areas can start as low as $100.</p>
                           </div>
                            
                        </div>
                    </div>
                     <div class="service-box">
                        <div class=" d-flex">
                           <div class="icon">
                                <i class="fas fa-briefcase-medical"></i>
                           </div>
                           <div class="det">
                               <b>FLOOD-PROOF STRUCTURES</b>
                               <p>For areas with greater flooding risk, here are some quick and relatively inexpensive things you can do to protect your home or business from flooding.

                                Elevate the furnace, water heater, air conditioner and other utilities.
                                Install "check valves" in sewer traps to prevent flood water back ups.
                                Construct interior barriers to stop low level floodwater from entering basements.
                                Seal walls in basements with waterproofing compounds to avoid seepage.
                                Remove inventory or important papers and possessions from the basement.
                                Back up important computer files and store in a secure off site location.
                                </p>
                           </div>
                            
                        </div>
                    </div>
                     <div class="service-box">
                        <div class=" d-flex">
                           <div class="icon">
                                <i class="fas fa-briefcase-medical"></i>
                           </div>
                           <div class="det">
                               <b>FOLLOW HEALTH AND SAFETY ADVICE</b>
                               <p>Learn about the emergency supplies you'll need in case of flooding, how to identify potential home hazards to avoid and the flood evacuation route and other steps you'll want to take to protect yourself if flooding occurs.</p>
                           </div>
                            
                        </div>
                    </div>
                     <div class="service-box">
                        <div class=" d-flex">
                           <div class="icon">
                                <i class="fas fa-briefcase-medical"></i>
                           </div>
                           <div class="det">
                               <b>ASSURE SAFE DAMS AND GET EMERGENCY PLANS READY</b>
                               <p>Dam owners should take the following steps to prepare for the possibility of flooding to avoid endangering human life and property downstream of their dam.

                                Locate and review your Emergency Action Plan (EAP) for the dam. Create one if you don't have a formal one now.
                                Post emergency contact phone numbers for law enforcement, local emergency government, the Statewide Warning Center (800-943-0003), dam operators and their backup and the DNR dam safety engineer for your county.
                                Coordinate dam operation with upstream and downstream dam owners. Confirm there is a contingency plan (back operations and emergency operations) procedures in place.
                                Monitor ice flow and water levels early.
                                Operate the dam in a timely manner to reduce risk gate failure and/or damage. Refer to dam safety and floodplain zoning maps for an estimate of lands that might be flooded if you don't have a dam failure analysis map.</p>
                           </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="imagr-box">
                        <img src="/" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    

{% endblock %}